/* Media Sizes */
$media-small: 767px;

/* Colors */

$color-transparent: rgba(0,0,0,0) !default;
$color-blue: #536dfe !default;
$color-red: #b71c1c !default;
$color-dark: #37474f !default;
$color-light: #e3f2fd !default;
$color-green: #00c853 !default;
$color-dark-blue: #001529 !default;
$color-purple: #7c4dff !default;

/* Reset styles */

html {
    -webkit-tap-highlight-color: $color-transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 300px;
    }
    @-o-viewport {
        width: device-width;
    }
    @viewport {
        width: device-width;
    }
}

/* App */

#root { 
    height: 100%;
    .ant-layout {
        height: 100%;
        background-color: $color-light;
        svg {
            -webkit-tap-highlight-color: $color-transparent !important;
            -webkit-focus-ring-color: $color-transparent !important;
            -moz-user-select: none !important;
            -webkit-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
            outline: none !important;
        }
        .align-left {
            text-align: left !important;
        }
        .align-right {
            text-align: right !important;
        }
        .mb-0 {
            margin-bottom: 0 !important;
        }
        .mb-10 {
            margin-bottom: 10px !important;
        }
        .mb-20 {
            margin-bottom: 20px !important;
        }
        .hidden {
            display: none !important;
        }
        @media only screen and (max-width: $media-small) {
            .mobile-show {
                display: block !important;
            }
            .mobile-hide {
                display: none !important;
            }
        }
        .ant-layout-header {
            background-color: $color-light;
            padding: 0;
            height: 100px;
            .top-menu {
                display: flex;
                justify-content: space-between;
                height: 64px;
                padding: 0 50px;
                .logo {
                    a {
                        svg {
                            width: auto;
                            height: 64px;
                        }
                    }
                }
                .ant-menu {
                    line-height: 64px;
                    &.ant-menu-light {
                        background-color: $color-light;
                    }
                }
            }
            .main-menu {
                display: flex;
                justify-content: space-around;
                padding: 0 50px;
                background-color: $color-dark-blue;
                .ant-menu {
                    line-height: 36px !important;
                    &.ant-menu-dark {
                        .ant-menu-item-selected {
                            background-color: $color-blue;
                        }
                        .ant-menu-item-active {
                            background-color: $color-blue;
                        }
                    }
                }
            }
            
        }
        // interactive blocks
        .ant-layout-content {
            width: 1000px;
            margin: 0 auto;
            min-height: 600px;
            & > * {
                margin: 25px 0;
            }
            // carousel
            .ant-carousel {
                .slick-slide {
                    text-align: center;
                    height: 160px;
                    line-height: 160px;
                    background: $color-dark;
                    overflow: hidden;
                    h3 {
                        color: $color-light;
                    }
                }
            }

            // interactive block
            .interactive {
                display: inline-block;
                .interactive-block-wrapper {
                    display: inline-block;
                    width: 20%;
                    &.invalid {
                        .interactive-block {
                            border: 2px solid $color-red;
                            background-color: $color-red;
                        }
                    }
                    .interactive-block {
                        position: relative;
                        width: calc(100% - 8px);
                        height: 240px;
                        border-radius: 4px;
                        border: 2px solid $color-purple;
                        background-color: $color-purple;
                        margin: 0 auto;
                        .ant-alert {
                            position: absolute;
                            bottom: 80px;
                            width: 188px;
                        }
                        .cell {
                            width: 47px;
                            height: 47px;
                            display: inline-block;
                            padding: 2px;
                            .cell-content {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 4px;
                                border: 1px solid $color-purple;
                                background-color: $color-light;
                                height: 100%;
                                &.checked {
                                    background-color: $color-blue;
                                    &.wrong {
                                        background-color: $color-dark;
                                    }
                                }
                                &.won {
                                    background-color: $color-green;
                                }
                            }
                        }
                    }
                }
                .ant-btn {
                    display: block;
                    width: 200px;
                    margin: 25px auto;
                }
            }
        }
        // Footer
        .ant-layout-footer {
            background-color: $color-dark-blue;
            color: $color-light;
            i {
                font-size: 20px;
                margin: 5px;
            }
        }
    }
}

// Popconfirm

.ant-popover-message {
    .anticon {
        color: $color-blue;
    }
}
